body{
	background-color: #010117;
	margin: 0;
}

#logo {
	float: left;
	height: 100%;
}
#menu{
	float: right;
	height: 100%;
}

/* NAVIGATION : PHONE*/
@media screen and (max-width: 740px) {
		.nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		display: inline;
		background-color: #0199fe;
		width: 100%;
		height: 4em;
		z-index: 1;
	}

	.nav-bar > ul {
		background-color: #0199fe;
		padding: 0;
		margin: 0;
		margin-top: 4em;
		height: auto;
		width: 100%;
		list-style-type: none;
		display: none;
	}

	.nav-bar > ul > a {
		text-align:center;
	    	line-height: 4em;
		width: 100%;
		display: inline-block;
		text-decoration: none;
		color: black;
		font-style: bold;
		transition: 1s;
	}

	.nav-bar > ul > a:hover {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;

	}

	.nav-bar > .nav-logo {
		padding: 0;
	}
	.nav-bar > .menu-logo{
		padding: 0;
	    display: inline;
	}
	.slideshow {
		position: relative;
		margin-top: 4em;
		height: 40%;
		width: 100%;
	}
	.slideshow > img{
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.hometext{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5%;
	height: 70%;
	width: 100%;

}
	.over_onstext{
	background-color: white;
	margin-top: 4em;
	height: 50%;
	width: 100%;
}
	.lestext{
	background-color: white;
	margin-top: 4em;
	height: 50%;
	width: 100%;
}
}

/* NAVIGATION : DESKTOP*/
@media screen and (min-width: 740px) and (max-width: 1600px) {
		.nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		display: inline;
		background-color: #0199fe;
		width: 100%;
		height: 7em;
		z-index: 1;
	}

	.nav-bar > ul {
		padding: 0;
		margin: 0;
		height: 4em;
		float: right;
		list-style-type: none;
	}

	.nav-bar > ul > a {
		line-height: 4em;
		padding-left: 2em;
		padding-right: 2em;

		display: inline-block;

		text-decoration: none;
		color: black;
		font-style: bold;
		background-color: none;
		transition: 1s;
	}

	.nav-bar > ul > a:hover {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;

	}
	.nav-bar > ul > a > .active {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;

	}

	.nav-bar > .nav-logo {
		padding: 0;
	}
	.nav-bar > .menu-logo{
		padding: 0;
	    display: none;
	}
	.slideshow {
		position: relative;
		margin-top: 4em;
		height: 100%;
		width: 100%;
	}
	.slideshow > img{
        max-height:75%;
		max-width:90%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.hometext{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5%;
	height: 70%;
	width: 100%;

}
	.over_onstext{
	background-color: white;
	margin-top: 4em;
	height: 50%;
	width: 100%;
}
	.lestext{
	background-color: white;
	margin-top: 4em;
	height: 50%;
	width: 100%;
}
}


.contact{
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.text-contact{
    height: 50%;
    width: 100%;
}

.text-contact > h1{
	float: left;
	margin-top: 4em;
}

.whatsapp {
	background-color: #0199fe;
    height: 50%;
    width: 100%;
}

.whatsapp > a >img{
	max-height: 50px;
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
}
.active {
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
}
