  
body{
	background-color: black;
}
nav{
	background-color: #03318f;
	width: 100%;
	position: fixed;
	top: 0;
  	height: 100px;
}
.nav-button{
	display: inline-block;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	text-align: center center;
	
}

nav a:hover {
  background-color: #0199fe;
}
