  
body{
	background-color: black;
}
nav{
	background-color: #0199fe;
	width: 100%;
	position: fixed;
	top: 0;
  	height: 100px;
}
.nav-button{
	display: inline-block;
}

#navi ul {
  height:100%;
  display: inline;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  overflow: hidden;

}

nav a {
	color: #ffffff;
	text-decoration: none;
	text-align: center center;
	height: 100%;
	padding-left: 16px;
  	padding-right: 16px;
	
}

nav a:hover {
  background-color: #0199fe;
}
